<html ng-app="musicPlayer">
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
  <script src="js/core.js"></script> <!-- load our main application -->
  <script src="binary.js"></script>
  <style>
    li {cursor: pointer;}
    li:hover {background: grey;}
    a {cursor: pointer; width: 100%}
    a:hover {background: grey;}
    img {height: 300px; width: auto; max-width: auto; max-height: 300px;}
    button {height: 40px; width: 80px;}
    div {margin: 5px;}
  </style>
  
  
</head>
<body>
  <div ng-controller="MusicController">
	
	<div id="music-cover" >
		<img ng-src="{{ currentcover | trusted }}" />
	</div>
	
	<div id="music-track" ng-init="currenttrack='&nbsp;'">
		{{ currenttrack }}
	</div>
	
	<div id="music-controls" >
		<button ng-click="onPlayPauseClicked()" ng-init="currentoperation=''">
			{{ currentoperation }}
		</button>
	</div>
	
	<div id="music-list" style="height: 300px; overflow: scroll;">
		<a ng-href='' ng-click='onitemClicked({"type": "dir", "filename": ".."})' > .. Go Up </a>
		
		<ol>
          <div ng-repeat="file in data">
            <li ng-click='onitemClicked(file)' > {{ file.filename }} </li>
          </div>
        </ol>
    </div>
    
    <div id="music-settings" >
	  minimum cache bump:
	  <input type="text" ng-model="mincachebump" />
	  {{ mincachebump }}
	</div>
	
	<div id="music-status" >
		{{ status }}
	</div>
    
  </div>
</body>
</html>
